/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg_image: url("../images/cover-image-dark.png");
  --bg_color: #000028;
  --main-text_color: #F1B2CE;
  --header_title-color: #DB00FF;
  --h3_color: #000028;
  --h3_bg-color: #FF0070;
  --h2_color: #FF0070;
  --accent_color: #FF0070;
  --hover_color: rgb(255 0 112 / 0.4);
  --decoration-color: #FF0070;
}

