/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-light .header_decoration {
  display: none;
}

:root.theme-light {
  --bg_image: url("../images/cover-image-light.png");
  --bg_color: #FFF1F7;
  --main-text_color: #353430;
  --header_title-color: #FFC2E6;
  --h3_color: #353430;
  --h3_bg-color: #FF8DCB;
  --h2_color: #353430;
  --accent_color: #FF8DCB;
  --hover_color: rgb(50 49 45 / 0.4);
  --decoration-color: #353430;

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
*/
}

@media (prefers-color-scheme: light) {
  :root {
  --bg_image: url("../images/cover-image-light.png");
  --bg_color: #FFF1F7;
  --main-text_color: #353430;
  --header_title-color: #FFC2E6;
  --h3_color: #353430;
  --h3_bg-color: #FF8DCB;
  --h2_color: #353430;
  --accent_color: #FF8DCB;
  --hover_color: rgb(50 49 45 / 0.4);
  --decoration-color: #353430;
  }

  .theme-auto .header_decoration {
    display: none;
  }
}
