/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg_image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg_color);
  overflow-x: hidden;
  display: grid;
  gap: 30px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  bottom: 20px;
  left: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  right: 10px;
  top: 10px;
}

.header_decoration {
  position: absolute;
  color: var(--decoration-color);
  font-family: inherit;
  font-size: inherit;
  right: 38px;
  top: 10px;
  line-height: 25px;
}

.header_decoration::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decoration-color);
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--decoration-color);
  top: 8px;
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  border: none;
  color: var(--decoration-color);
  text-transform: lowercase;
}

.header__theme-menu-button:disabled {
  border: 1px solid var(--decoration-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button_active:hover {
  border: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover_color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decoration-color);
}

.main-title {
  display: block;
  inline-size: 100%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header_title-color);
  line-height: 82.5%;
  text-shadow: 4px 4px var(--accent_color);
}

.title_decor {
  inline-size: 100%;
  color: var(--h3_color);
  background-color: var(--h3_bg-color);
  line-height: var(--main_line-height);
  font-size: var(--main-text_size);
}

.header_description {
  align-self: center;
}

.content {
  padding: 0 10px;
  display: grid;
  gap: 50px;
}

.content-section {
  inline-size: 100%;
  display: grid;
  gap: 20px;
  font-size: var(--main-text_size);
  line-height: var(--main_line-height);
}

.content-section_title {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
  color: var(--h2_color);
}

.text-block {
 display: grid;
 gap: 20px;
}

.content-card {
  display: grid;
  gap: 10px;
}

.content-card_title {
  display: block;
}

.content-card_text {
  display: block;
  font-size: inherit;
  line-height: inherit;
  color: var(--main-text_color);
}

a.text_link {
  text-shadow: 2px 1px var(--accent_color);
}

a.text_link:hover {
  border-bottom: 1px solid var(--main-text_color);
}

a.text_link:focus {
  outline: none;
}

.text_link:focus-visible {
  border: 1px solid var(--main-text_color);
}

.content-card_subtitle {
  font-weight: normal;
}

.content-card_list {
  display: grid;
  gap: 20px;
}

.content-section_gallery {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-start: 10px;
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    min-block-size: 1024px;
    padding-inline-end: 20px;
    padding-inline-start: 0;
    padding-block-start: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header_decoration {
    right: 48px;
    top: 20px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: span 2;
  }  

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
  }

  .content {
    gap: 80px;
    padding: 0 20px;
  }

  .content-section.why {
    grid-template-columns: 1fr 2fr;
  }

  .content-section.reasons {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
  }

  .reasons_title {
    grid-row: 1;
  }

  .text-block.reasons {
    grid-column: span 2;
    grid-row: 2;
  }

  .conent-section_how {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_gallery {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    block-size: 780px;
  }

  .sunset {
    grid-row: 1;
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
    grid-column: 3;
  }

  .tape {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
  }

  .street {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .footer {
    min-block-size: 1024px;
    margin-block-start: 0;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
    margin-block-start: 10px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .text-block.reasons {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  .gallery {
   block-size: 1048px;
  }

  .footer {
    min-block-size: 768px;
  }
} 