/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg_image: url("../images/cover-image-dark.png");
  --bg_color: #000028;
  --main-text_color: #F1B2CE;
  --main-text_size: 18px;
  --main_line-height: 23.4px;
  --header_title-color: #DB00FF;
  --h3_color: #000028;
  --h3_bg-color: #FF0070;
  --h2_color: #FF0070;
  --accent_color: #FF0070;
  --hover_color: rgb(255 0 112 / 0.4);
  --decoration-color: #FF0070;
}